/ESP32_MQTT_SSL/.vscode/settings.json
/ESP32_MQTT_SSL/Arduino/ESP32_MQTT_SSL/secrets_*.h
/ESP32_IDF/build/*
/ESP32_IDF/sdkconfig
/ESP32_IDF/.vscode/*
/ESP32_IDF/main/secret_local.h
*_secret_local.h
/ESP32_IDF/main/secrets_local.h
/ESP32_IDF/test/build/
